.footer-menu {
    width: 100%;
    background-color: #333;
    font-size: 14px;
    max-height: auto;
    min-height: 120px!important;
    height: auto;
    float: left;
    color: #d7d7d7;
    line-height: 24px;
}

.footer-menu h3{
	margin: 0 0 0 0;
	line-height: 90px;
	font-size: 14px !important;
	color: #8d8d8d !important;
	font-weight: bold;
}

.footer-menu h5 {
	color: #8d8d8d !important;
	font-weight: bold;
}

.footer-menu a{
	font-size: 14px;
	color: #d7d7d7;
	margin: 0 0 0 0;
	text-decoration: none;
}

.footer-menu a:hover{
	font-size: 14px;
	color: #fff;
	margin: 0 0 0 0;
}